dist
temp
coverage
node_modules
.DS_Store
.idea
debug.log

*.log
*.swp
*~
.env

.yarn/*
!.yarn/releases
!.yarn/plugins

.nuxt
.output

# Custom
.DS_Store
/thunder-tests
/.vscode/tasks.json

.npmrc
.eslintcache