@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Marianne-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  src: url("@/assets/fonts/Marianne-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 500;
  src: url("@/assets/fonts/Marianne-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 700;
  src: url("@/assets/fonts/Marianne-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 800;
  src: url("@/assets/fonts/Marianne-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

html {
  @apply antialiased bg-gray-50 h-full;
}

.container {
  @apply px-4 max-w-3xl mx-auto lg:max-w-7xl
}

.tooltip {
  display: block !important;
  z-index: 10000;
  font-size: 12px;
  max-width: 276px;
  .tooltip-inner:not(.popover-inner) {
    color: white;
    border-radius: 16px;
    padding: 12px;
    @apply bg-black shadow;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
  &[x-placement^='top'] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^='bottom'] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^='right'] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^='left'] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &.bo-style {
    .tooltip-inner {
      border-radius: 4px;
      padding: 6px;
      @apply bg-[#242526];
    }
  }
  &.popover {
    &[x-placement^='top'] {
      margin-bottom: 15px;
    }
    &[x-placement^='bottom'] {
      margin-top: 15px;
    }
    &[x-placement^='left'] {
      margin-right: 15px;
    }
    &[x-placement^='right'] {
      margin-left: 15px;
    }
  }
  &.popover-theme-1 {
    font-size: 14px;
    .tooltip-content {
      border-radius: 16px;
      padding: 16px 24px;
      @apply bg-[#514DB2] text-white;
    }
    .tooltip-arrow {
      display: none;
    }
  }
}